.website-header
{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    margin: 20px auto;
    
    .navBar
    {
        display: inline-flex;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;

        .personalise a
        {
            text-decoration: underline;
            color: blue;
        }

        div
        {
            display: inline-flex;
        }

        a
        {
            margin: 5px;
            padding: 5px;
            border-right: 1px solid lightgrey;

            &:last-of-type
            {
                border: none;
            }
        }

    }

        .headerBar
        {
            display: inline-flex;

            .locationInfo
            {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin: 10px 10px 10px 0;

                .chatCall
                {
                    display: inline-flex;
                    justify-content: space-around;
                }

                .contactInfo
                {
                    display: inline-flex;
                    justify-content: space-around;
                    flex-grow: 1;
                    align-items: center;

                    p{
                        font-weight: bold;
                        font-size: 24px;
                    }
                }

                .searchField
                {
                    display: inline-flex;
                    align-content: flex-end;
                    border: 2px solid lightgrey;
                    flex-grow: 1;

                    .selectCatalogue
                    {
                        border-right: inherit;
                        padding: 0 5px;
                        align-items: center;
                    }

                    .search-input
                    {
                        flex-grow: 1;
                        border-right: inherit;
                        padding: 0 5px;
                    }

                    button
                    {
                        padding: 0 5px;
                    }
                }
            }

            .shopLogo
            {
                margin: 10px;
            }
        }
}
