.middle-part
{
    display: inline-flex;
    margin: 0 auto;

    .left-side
    {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .content-menu
        {
            border: 2px solid lightgrey;
            padding: 10px;
        }

        .selling-leader
        {
            border: 2px solid lightgrey;
            margin-top: 20px;
        }
    }

    .right-side
    {
        display: flex;
        flex-direction: column;

        .main
        {
            display: flex;
            flex-direction: column;

            .slider
            {
                position:relative;
                margin: 100px auto;
                padding: 5px;
            }
            #scr {
                margin:20px auto;
                width: 600px;
                height: 320px;
                margin-top:20px;
                background-color: white;
                background-size:cover;
            }
            button {
                position: absolute;
                top: 150px;
                width: 25px;
                height: 70px;
                font: 12pt arial,tahoma,sans-serif;
                text-align: center;
            
                .left {
                    left:5px;
                }

                .right {
                    right:5px;
                }
            }
           .nav-map
           {
               p 
               {
                   display: inline-flex;
               }     
           }
        }

        .selection-brand
        {
            border: 2px solid lightgrey;

            .brand-table
            {
                display: inline-flex;
                flex-wrap: wrap;
                padding: 10px;

                a 
                {
                  padding: 0 10px 10px 0;
                }
            }
        }

        .promotional-offers
        {
            border: 2px solid lightgrey;
        }

        .reviews
        {
            border: 2px solid lightgrey;
        }
    }
}
